<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="container">
  <div class="filters">
    <app-map *ngIf="mode === modes.MAP" data-testid="map" [latitude]="latitude" [longitude]="longitude"
      (coordsChanged)="handleCoordsChange($event)"></app-map>
    <div *ngIf="mode === modes.INPUTS" data-testid="inputs">
      <filters (filtersChanged)="handleCoordsChange($event)"></filters>
    </div>
  </div>
  <div class="view">
    <div class="mode">
      <mat-form-field data-testid="mode-button">
        <mat-label>{{ 'aw.features.forecast.filter.title' | translate }}</mat-label>
        <mat-select [(value)]="mode" matNativeControl required>
          <mat-option [value]="modes.MAP" data-testid="mode-map">{{ 'aw.features.forecast.filter.map' | translate
            }}</mat-option>
          <mat-option [value]="modes.INPUTS" data-testid="mode-inputs">{{ 'aw.features.forecast.filter.input' |
            translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-container *ngTemplateOutlet="forecast; context: { forecastData: forecast$ | async }">
    </ng-container>
    <ng-template #forecast let-forecast="forecastData">
      <if-loaded-view [isLoading]="forecast">
        <ng-container [ngSwitch]="forecast?.current_weather?.is_day">
          {{ 'aw.features.forecast.day' | translate }}:
          <ng-container *ngSwitchCase="1">
            <img width="100px" src="/assets/icons/day.svg" alt="day.svg">
          </ng-container>
          <ng-container *ngSwitchCase="0">
            <img width="100px" src="/assets/icons/night.svg" alt="night.svg">
          </ng-container>
          <ng-container *ngSwitchDefault>
            n/d
          </ng-container>
        </ng-container>
        <div>
          {{ 'aw.features.forecast.temperature' | translate }}
          : {{forecast?.current_weather?.temperature ?? 'n/d'}}
        </div>
        <div>
          {{ 'aw.features.forecast.windspeed' | translate }}:
          : {{forecast?.current_weather?.windspeed ?? 'n/d'}}
        </div>
      </if-loaded-view>
    </ng-template>
  </div>
</div>