.container {
  display: grid;
  gap: 32px;

  /* stylelint-disable-next-line declaration-colon-space-after */
  grid-template-areas: "view filters";

  grid-template-columns: max-content minmax(320px, 600px);
  grid-template-rows: 400px;
  margin-top: 24px;
}

.mode {
  grid-area: mode;
}

.content {
  grid-area: view;
}

.filters {
  grid-area: filters;
}
