<div class="container">
  <mat-sidenav-container>
    <mat-sidenav class="sidenav" #sidenav>
      <h3>{{ 'aw.settings.title' | translate }}</h3>
      <ng-content select="[sidenav]"></ng-content>
    </mat-sidenav>
    <mat-sidenav-content class="content" color="primary">
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.open()" color="primary">
          <fa-icon icon="bars"></fa-icon>
        </button>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>