<ng-container *ngIf="theme$ | async; let theme">
  <div [class]="'theme-wrapper ' + theme">
    <header-layout>
      <mat-form-field data-testid="mode-button">
        <mat-label>Тема</mat-label>
        <mat-select (valueChange)="changeTheme($event)" [value]="theme" matNativeControl>
          <mat-option [value]="themes.DARK" data-testid="mode-map">Темная</mat-option>
          <mat-option [value]="themes.LIGHT" data-testid="mode-inputs">Светлая</mat-option>
          <mat-option [value]="themes.NATURE" data-testid="mode-inputs">Природа</mat-option>
          <mat-option [value]="themes.DEFAULT" data-testid="mode-inputs">Дефолт</mat-option>
        </mat-select>
      </mat-form-field>
    </header-layout>
    <main-layout>
      <router-outlet></router-outlet>
    </main-layout>
  </div>
</ng-container>