@use "@angular/material" as mat;

$anms-light-primary: mat.define-palette(mat.$grey-palette, 500, 500, 100);
$anms-light-accent: mat.define-palette(mat.$brown-palette, 900);
$anms-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$anms-light-theme: mat.define-light-theme((
  color: (
    primary: $anms-light-primary,
    accent: $anms-light-accent,
    warn: $anms-light-warn  
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
