.map-container {
  height: 100%;
  width: 100%;
}

.map-frame {
  border: 2px solid black;
  height: 100%;

  .leaflet-container {
    height: 100%;
    width: 100%;
  }

  .leaflet-top {
    z-index: initial;
  }
}

#map {
  height: 100%;
}
