@use "@angular/material" as mat;

@include mat.core();

@import "./themes/default-theme";

@import "./themes/light-theme";

@import "./themes/black-theme";

@import "./themes/nature-theme";

@import "./app/app.component.scss-theme.scss";

@mixin custom-components-theme($theme) {
  @include anms-app-component-theme($theme);
}

.default-theme {
  @include mat.all-component-themes($anms-theme);

  @include custom-components-theme($anms-theme);
}

.light-theme {
  @include mat.all-component-themes($anms-light-theme);

  @include custom-components-theme($anms-light-theme);
}

.black-theme {
  @include mat.all-component-themes($anms-black-theme);

  @include custom-components-theme($anms-black-theme);
}

.nature-theme {
  @include mat.all-component-themes($anms-nature-theme);

  @include custom-components-theme($anms-nature-theme);
}

@media (prefers-color-scheme: dark) {

  // .theme-wrapper {
  //   @include mat.all-component-themes($anms-black-theme);
  
  //   @include custom-components-theme($anms-black-theme);
  // }
}

html,
body { 
  height: 100%; 
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
